<template lang='pug'>
  div(style='padding-top: 15px; padding-bottom: 5px;')
    div Unión: {{A}} u {{B}} = {{union}}
    div Intersección: {{A}} ∩ {{B}} = {{interseccion}}
    div Diferencia: {{A}} - {{B}} = {{diferencia}}
</template>

<script>
export default {
  props: ['A', 'B'],
  data () {
    return {
      mergedArray: this.A.concat(this.B)
    }
  },
  computed: {
    union: function () {
      var set = new Set(this.mergedArray)
      return [...set]
    },
    interseccion: function () {
      var object = {}, result = []
      this.mergedArray.forEach(item => {
        if (!object[item]) object[item] = 0
        object[item] += 1
      })
      for (var prop in object) {
        if (object[prop] >= 2) {
          if (isNaN(prop)) result.push(prop)
          else result.push(Number(prop))
        }
      }
      return result
    },
    diferencia: function () {
      var a = [], diff = [], a1 = this.A, a2 = this.B
      for (var i = 0; i < a1.length; i++) {
        a[a1[i]] = true
      }
      for (var o = 0; o < a2.length; o++) {
        if (a[a2[o]]) delete a[a2[o]]
        else a[a2[o]] = true
      }
      for (var k in a) {
        if (isNaN(k)) diff.push(k)
        else diff.push(Number(k))
      }
      return diff
    }
  }
}
</script>
