<template lang='pug'>
  .letter-space
    div ({{setSign(A)}}{{setSign(B)}}i) * ({{setSign(A)}}{{setSign(BN)}}i)
    div {{setSign(AA)}}{{setSign(BBN)}}i²
    div {{setSign(AA)}}{{setSign(BBNN)}}
    div {{setSign(AA + BBNN)}}
</template>

<script>
export default {
  props: ['A', 'B'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return String(num)
    }
  },
  computed: {
    BN: function () {
      return this.B * -1
    },
    AA: function () {
      return this.A * this.A
    },
    BBN: function () {
      return this.B * (this.B * -1)
    },
    BBNN: function () {
      return (this.B * (this.B * -1)) * -1
    }
  }
}
</script>
