<template lang='pug'>
  .pt
    .pt {{displayText}}: {{array.length}}
    span Caras de los dados: &nbsp;
    input(v-model.number='faces' type='number' style='width:40px;')
    br
    br
    div(v-for='i in faces')
      span(v-for='j in faces')
        span {{i}},{{j}} &nbsp;
      br
    br
    div(v-for='i in faces')
      span(v-for='j in faces')
        span {{pad(i + j)}} &nbsp;
      br
    br
    table.text-center
      tr
        th Resultado
        th Probabilidad
      tr
      tr(v-for='i in (faces + faces)')
        td {{pad(i)}}
        td {{array.filter(word => word === i).length}} / {{faces*faces}}
</template>

<script>
export default {
  props: ['displayText'],
  data () {
    return {
      faces: 6,
      array: []
    }
  },
  methods: {
    pad (num) {
      var size = 2
      var numb = String(num)
      if (numb.length < size) {
        for (let i = numb.length; i < size; i++) {
          numb = '0' + numb
        }
      }
      return numb
    },
    changeArray () {
      this.array = []
      for (let i = 1; i < this.faces + 1; i++) {
        for (let j = 1; j < this.faces + 1; j++) {
          this.array.push(i + j)
        }
      }
    }
  },
  mounted () {
    this.changeArray()
  },
  watch: {
    faces: function (val) {
      this.changeArray()
    }
  }
}
</script>

<style lang='stylus' scoped>
.pt
  padding-top 10px
</style>
