<template lang='pug'>
  .letter-space
    .operation
      .under {{setSign(A)}}{{setSign(B)}}i
      div {{setSign(C)}}{{setSign(D)}}i
    .operation
      .under ({{setSign(A)}}{{setSign(B)}}i) * ({{setSign(C)}}{{setSign(D * -1)}}i)
      div ({{setSign(C)}}{{setSign(D)}}i) * ({{setSign(C)}}{{setSign(D * -1)}}i)
    .operation
      .under {{RT1}}
      div {{RB1}}
    .operation
      .under {{RT2}}
      div {{RB2}}
    .operation
      .under {{RT3}}
      div {{RB2}}
    .operation
      .under {{RT4}}{{RT5}}
      div {{RB2}}
</template>

<script>
export default {
  props: ['A', 'B', 'C', 'D'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return String(num)
    },
    OP1 () {
      var A = Number(this.A) * Number(this.C)
      var B = Number(this.A) * Number(this.D * -1)
      var C = Number(this.B) * Number(this.C)
      var D = Number(this.B) * Number(this.D * -1)
      return [A, B, C, D]
    },
    OP2 () {
      var A = Number(this.C) * Number(this.C)
      var B = Number(this.C) * Number(this.D * -1)
      var C = Number(this.D) * Number(this.C)
      var D = Number(this.D) * Number(this.D * -1 * -1)
      return [A, B, C, D]
    }
  },
  computed: {
    RT1: function () {
      var [A, B, C, D] = this.OP1()
      return `${this.setSign(A)}${this.setSign(B)}i${this.setSign(C)}i${this.setSign(D)}i²`
    },
    RT2: function () {
      var [A, B, C, D] = this.OP1()
      var MM = B + C
      return `${this.setSign(A)}${this.setSign(MM)}i${this.setSign(D)}i²`
    },
    RT3: function () {
      var [A, B, C, D] = this.OP1()
      var MM = B + C
      var DN = D * -1
      return `${this.setSign(A)}${this.setSign(MM)}i${this.setSign(DN)}`
    },
    RT4: function () {
      var [A, D] = this.OP1()
      var AA = A + (D * -1)
      return `${this.setSign(AA)}`
    },
    RT5: function () {
      var [B, C] = this.OP1()
      var MM = B + C
      return `${this.setSign(MM)}i`
    },
    RB1: function () {
      var [A, D] = this.OP2()
      return `${this.setSign(A)}${this.setSign(D)}`
    },
    RB2: function () {
      var [A, D] = this.OP2()
      return `${this.setSign(A + D)}`
    }
  }
}
</script>

<style lang='stylus' scoped>
.operation
  text-align center
  padding-right 15px
  padding-bottom 5px
  display inline-block
.under
  padding-bottom 3px
  border-bottom 1px solid #000
</style>
