<template lang='pug'>
  div
    .pt-pb {{A}}x²{{setSign(B)}}x{{setSign(C)}} = 0
    .operation
      .under -({{B}}) ± √({{B}}² - (4 * {{A}} * {{C}}))
      div 2 * {{A}}
    .operation
      .under {{multiplyNegative}} ± {{squareRoot}}
      div {{underForm}}
    .operation
      .space x₁ = {{(multiplyNegative + squareRoot) / underForm}}
      div x₂ = {{(multiplyNegative - squareRoot) / underForm}}
</template>

<script>
export default {
  props: ['A', 'B', 'C'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return num
    }
  },
  computed: {
    multiplyNegative: function () {
      return -1 * Number(this.B)
    },
    squareRoot: function () {
      var A = Number(this.A)
      var B = Number(this.B)
      var C = Number(this.C)
      var inside = Math.pow(B, 2) - (4 * A * C)
      var result = (inside >= 0 ? Math.sqrt(inside) : -4)
      return result
    },
    underForm: function () {
      return 2 * Number(this.A)
    }
  }
}
</script>

<style lang='stylus' scoped>
.pt-pb
  padding-top 10px
  padding-bottom 5px
  letter-spacing 2px
.operation
  text-align center
  padding-right 15px
  display inline-block
.under
  padding-bottom 3px
  border-bottom 1px solid #000
.space
  padding-bottom 3px
  border-bottom 1px solid #FFF
</style>
