<template lang='pug'>
  .letter-space
    div |Z| = √({{setSign(A)}}{{setSign(B)}}i)
    div |Z| = √({{A2}}{{B2}})
    div |Z| = √({{Number(A2) + Number(B2)}}) = {{MO}}
    div Módulo de {{setSign(A)}}{{setSign(B)}}i={{MO}}
    div tg⁻¹({{A}}/{{B}})={{AR}}
    div Z = {{MO}}(cos{{AR}}°+sen{{AR}}°i)
</template>

<script>
export default {
  props: ['A', 'B'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return num
    }
  },
  computed: {
    A2: function () {
      return this.setSign(Math.pow(Number(this.A), 2))
    },
    B2: function () {
      return this.setSign(Math.pow(Number(this.B), 2))
    },
    MO: function () {
      return Math.sqrt(Number(this.A2) + Number(this.B2)).toFixed(3)
    },
    AR: function () {
      return (Math.atan(Number(this.A) / Number(this.B)) * (180 / Math.PI)).toFixed(3) // Tan⁻¹
    }
  }
}
</script>
