<template lang='pug'>
  .letter-space
    div ({{setSign(A)}}{{setSign(B)}}i) * ({{setSign(C)}}{{setSign(D)}}i)
    div {{AC}}{{AD}}i{{BC}}i{{BD}}i²
    div {{AC}}{{AD}}i{{BC}}i{{BD1}}
    div {{sum(AC, BD1)}}{{sum(AD, BC)}}i
</template>

<script>
export default {
  props: ['A', 'B', 'C', 'D'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return String(num)
    },
    sum (n1, n2) {
      var num = Number(n1) + Number(n2)
      return this.setSign(num)
    },
    multiply (n1, n2) {
      var num = Number(n1) * Number(n2)
      return this.setSign(num)
    }
  },
  computed: {
    AC: function () {
      return this.multiply(this.A, this.C)
    },
    AD: function () {
      return this.multiply(this.A, this.D)
    },
    BC: function () {
      return this.multiply(this.B, this.C)
    },
    BD: function () {
      return this.multiply(this.B, this.D)
    },
    BD1: function () {
      return this.setSign((Number(this.multiply(this.B, this.D)) * -1))
    }
  }
}
</script>
