<template lang='pug'>
  .letter-space
    div ({{setSign(A)}}{{setSign(B)}}i) - ({{setSign(C)}}{{setSign(D)}}i)
    SumaComplejos(:A='A' :B='B' :C='C * -1' :D='D * -1')
</template>

<script>
import SumaComplejos from './SumaComplejos.vue'
export default {
  components: { SumaComplejos },
  props: ['A', 'B', 'C', 'D'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return num
    }
  }
}
</script>
