<template lang='pug'>
  .letter-space
    div ({{setSign(A)}}{{setSign(B)}}i) + ({{setSign(C)}}{{setSign(D)}}i)
    div ({{setSign(A)}}{{setSign(C)}}) + ({{setSign(B)}}{{setSign(D)}})i
    div {{Number(A) + Number(C)}}{{setSign(Number(B) + Number(D))}}i
</template>

<script>
export default {
  props: ['A', 'B', 'C', 'D'],
  methods: {
    setSign (str) {
      var num = Number(str)
      if (Math.sign(num) === 1) return `+${num}`
      else return num
    }
  }
}
</script>
